AUTH_KEY="generate-a-unique-value-here"
SECURE_AUTH_KEY="generate-a-unique-value-here"
LOGGED_IN_KEY="generate-a-unique-value-here"
NONCE_KEY="generate-a-unique-value-here"
AUTH_SALT="generate-a-unique-value-here"
SECURE_AUTH_SALT="generate-a-unique-value-here"
LOGGED_IN_SALT="generate-a-unique-value-here"
NONCE_SALT="generate-a-unique-value-here"
WP_CACHE_KEY_SALT="generate-a-unique-value-here"
DB_PREFIX="wp_"
